body {
    margin: 0;
}

iframe {
    border: none;
}

.pill-bar {
    background-color: white;
    border-radius: 3px
}

.input-shield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.input-shield.active {
    display: block;
}

#app-view {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

/* FIXME: */
#app-view h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#screensaver {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;

    border: none;
}

#screensaver iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#screensaver-handle {
    position: absolute;
    left: 50%;
    bottom: -5%;
    translate: -50% 0;
    width: 25%;
    height: 10%;

    /* background-color: red; */
}

#screensaver-handle .pill-bar {
    position: absolute;
    left: 50%;
    bottom: 55%;
    translate: -50% 0;
    width: 90%;
    height: 6px;
}

#control-slideout {
    position: fixed;
    left: 100%;
    top: 50%;
    translate: 0 -50%;
    height: 90%;
    width: 20%;

    /* background-color: magenta; */
}

#control-slideout iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border-radius: 25px;
}

#control-slideout-handle {
    position: absolute;
    left: -8%;
    top: 50%;
    translate: 0 -50%;
    height: 30%;
    width: 10%;

    /* background-color: greenyellow; */
}

#control-slideout-handle .pill-bar {
    position: absolute;
    right: 30%;
    top: 50%;
    translate: 0 -50%;
    width: 6px;
    height: 90%;
}

